$main-color: #1a1a1a;
$sub-color: #f8f8f8;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #ffffff;
$gray-color: #666565;
$dark-gray-color: #686868;
$orange-color: #FFA500; // 주황색
$dark-background: #121212; // 다크 모드 배경색
$white: #FFFFFF; // 흰색